<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Ghurbo HTML Template | Tours List</title>
<!-- Stylesheets -->
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/main.css" rel="stylesheet">
<link href="css/responsive.css" rel="stylesheet">

<link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
<link rel="icon" href="images/favicon.png" type="image/x-icon">

<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
<!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>

<body>

<div class="page-wrapper">
 	
    <!-- Preloader -->
    <div class="preloader"></div>
 	
    <!-- Main Header-->
    <header class="main-header header-style-one">
    	
		<!-- Header Top -->
        <div class="header-top">
            <div class="auto-container">
                <div class="clearfix">
                    <!--Top Left-->
                    <div class="top-left">
						<ul class="list">
							<li><span class="icon flaticon-clock-2"></span>Mon - Sat: 9.30am To 10.00pm</li>
							<li><a href="mailto:hello@yoursite.com"><span class="icon flaticon-e-mail-envelope"></span>hello@yoursite.com</a></li>
						</ul>
                    </div>

                    <!--Top Right-->
                    <div class="top-right pull-right">
						<!-- Social Nav -->
						<ul class="social-nav">
							<li><a href="tour-list.html#"><span class="fa fa-facebook-f"></span></a></li>
							<li><a href="tour-list.html#"><span class="fa fa-instagram"></span></a></li>
							<li><a href="tour-list.html#"><span class="fa fa-pinterest-p"></span></a></li>
							<li><a href="tour-list.html#"><span class="fa fa-linkedin"></span></a></li>
							<li><a href="tour-list.html#"><span class="fa fa-twitter"></span></a></li>
						</ul>
						<div class="phone"><a href="tel:+088-6164-7881">+088-6164-7881</a></div>
                    </div>
                </div>
            </div>
        </div>
		
    	<!-- Header Upper -->
        <div class="header-upper">
        	<div class="auto-container">
            	<div class="inner-container clearfix">
                	
                	<div class="pull-left logo-box">
                    	<div class="logo"><a href="index.html"><img src="images/logo.png" alt="" title=""></a></div>
                    </div>
                   	
                   	<div class="nav-outer clearfix">
						<!-- Mobile Navigation Toggler -->
                        <div class="mobile-nav-toggler"><span class="icon flaticon-menu"></span></div>
						<!-- Main Menu -->
						<nav class="main-menu navbar-expand-md">
							<div class="navbar-header">
								<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
							</div>

							<div class="navbar-collapse show collapse clearfix" id="navbarSupportedContent">
								<ul class="navigation clearfix">
									<li class="dropdown"><a href="tour-list.html#">Home</a>
										<ul>
											<li><a href="index.html">Home Page 01</a></li>
											<li><a href="index-2.html">Home Page 02</a></li>
										</ul>
									</li>
									<li class="dropdown"><a href="tour-list.html#">About Us</a>
										<ul>
											<li><a href="about.html">About Us</a></li>
											<li><a href="faq.html">Faq's</a></li>
										</ul>
									</li>
									<li class="current dropdown"><a href="tour-list.html#">Tours</a>
										<ul>
											<li><a href="tour.html">Tour Grid</a></li>
											<li><a href="tour-list.html">Tour List</a></li>
											<li><a href="tour-detail.html">Tour Detail</a></li>
										</ul>
									</li>
									<li class="dropdown"><a href="tour-list.html#">Destination</a>
										<ul>
											<li><a href="destination.html">Destination</a></li>
											<li><a href="destination-2.html">Destination 02</a></li>
											<li><a href="destination-detail.html">Destination Detail</a></li>
										</ul>
									</li>
									<li class="dropdown"><a href="tour-list.html#">Blog</a>
										<ul>
											<li><a href="blog.html">Blog Grid</a></li>
											<li><a href="blog-list.html">Blog List</a></li>
											<li><a href="blog-detail.html">Blog Detail</a></li>
										</ul>
									</li>
									<li><a href="contact.html">Contact</a></li>
								</ul>
							</div>
							
						</nav>
						
						<!-- Outer Box -->
						<div class="outer-box">
						
							<!-- Button Box -->
							<div class="btn-box">
								<a href="contact.html" class="theme-btn btn-style-one"><i class="map flaticon-maps-and-flags"></i><span class="txt">Destination</span></a>
							</div>
							
							<!-- Cart Box -->
							<div class="cart-box">
								<div class="dropdown">
									<button class="cart-box-btn dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="flaticon-shopping-cart-3"><i class="total">02</i></span></button>
									<div class="dropdown-menu pull-right cart-panel" aria-labelledby="dropdownMenu">

										<div class="cart-product">
											<div class="inner">
												<div class="cross-icon"><span class="icon fa fa-remove"></span></div>
												<div class="image"><img src="images/resource/post-thumb-1.jpg" alt="" /></div>
												<h3><a href="https://gico.io/ghurbo/demos/ghurbo/shop-single.html">Product 01</a></h3>
												<div class="quantity-text">Quantity 01</div>
												<div class="price">$49.00</div>
											</div>
										</div>
										<div class="cart-product">
											<div class="inner">
												<div class="cross-icon"><span class="icon fa fa-remove"></span></div>
												<div class="image"><img src="images/resource/post-thumb-2.jpg" alt="" /></div>
												<h3><a href="https://gico.io/ghurbo/demos/ghurbo/shop-single.html">Product 02</a></h3>
												<div class="quantity-text">Quantity 21</div>
												<div class="price">$49.00</div>
											</div>
										</div>
										<div class="cart-total">Sub Total: <span>$99</span></div>
										<ul class="btns-boxed">
											<li><a href="https://gico.io/ghurbo/demos/ghurbo/shoping-cart.html">View Cart</a></li>
											<li><a href="https://gico.io/ghurbo/demos/ghurbo/checkout.html">CheckOut</a></li>
										</ul>

									</div>
								</div>
							</div>
							<!-- End Cart Box -->
							
							<!-- Nav Btn -->
							<div class="nav-btn nav-toggler"><span class="icon flaticon-menu"></span></div>
							
						</div>
						
					</div>
                   
                </div>
            </div>
        </div>
        <!--End Header Upper-->
        
		<!-- Mobile Menu  -->
        <div class="mobile-menu">
            <div class="menu-backdrop"></div>
            <div class="close-btn"><span class="icon fa fa-remove"></span></div>
            
            <nav class="menu-box">
                <div class="nav-logo"><a href="index.html"><img src="images/logo.png" alt="" title=""></a></div>
                <div class="menu-outer"><!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header--></div>
            </nav>
        </div><!-- End Mobile Menu -->
		
    </header>
    <!--End Main Header -->
	
	<!-- Hidden Navigation Bar -->
    <section class="hidden-bar right-align">
        
        <div class="hidden-bar-closer">
            <button><span class="flaticon-multiply"></span></button>
        </div>
        
        <!-- Hidden Bar Wrapper -->
        <div class="hidden-bar-wrapper">
            
            <div class="logo">
            	<a href="index.html"><img src="images/logo-2.png" alt="" /></a>
            </div>
            <div class="content-box">
            	<h2>About Us</h2>
                <div class="text">Europe may be famous for its history, monuments and sightseeing, but summer is for enjoying the outdoors. For hiking, cycling, swimming, splashing around in the water and exploring your limits. </div>
                <a href="tour-list.html#" class="theme-btn btn-style-one"><span class="txt">Contact Us</span></a>
            </div>
            <div class="contact-info">
            	<h2>Contact Info</h2>
                <ul class="list-style-one">
                	<li><span class="icon fa fa-map-marker"></span>Rock St 12, Newyork City, USA</li>
                    <li><span class="icon fa fa-phone"></span>(222) 999-000-9999</li>
                    <li><span class="icon fa fa-envelope-o"></span>ghurbo@gmail.com</li>
                    <li><span class="icon fa fa-clock-o"></span>Week Days: 09.00 to 18.00 Sunday: Closed</li>
                </ul>
            </div>
        </div><!-- / Hidden Bar Wrapper -->
        
    </section>
    <!-- End / Hidden Bar -->
	
	<!--Page Title-->
    <section class="page-title" style="background-image:url(images/background/6.jpg)">
    	<div class="auto-container">
			<h2>Tours List</h2>
			<ul class="page-breadcrumb">
				<li><a href="index.html">home</a></li>
				<li>Tours List</li>
			</ul>
        </div>
    </section>
    <!--End Page Title-->
	
	<!-- Sidebar Page Container -->
    <div class="sidebar-page-container">
    	<div class="auto-container">
        	<div class="row clearfix">
				
				<!--Sidebar Side-->
                <div class="sidebar-side col-lg-4 col-md-12 col-sm-12">
                	<aside class="sidebar">
						
						<!-- Sidebar Widget -->
						<div class="sidebar-widget search-tour-widget">
							<div class="widget-content">
								
								<!-- Tour Search Tabs-->
								<div class="tour-search-tabs">
									<!-- Tours Tabs -->
									<div class="tour-tabs tabs-box">
									
										<!--Tab Btns-->
										<ul class="tab-btns tab-buttons clearfix">
											<li data-tab="#prod-details" class="tab-btn active-btn">Search Tours</li>
											<li data-tab="#prod-info" class="tab-btn">Hotel Card available</li>
										</ul>
										
										<!--Tabs Container-->
										<div class="tabs-content">
											
											<!--Tab / Active Tab-->
											<div class="tab active-tab" id="prod-details">
												<div class="content">
													
													<!-- Default Form -->
													<div class="default-form">
														<form method="post" action="contact.html">
															
															<!-- Form Group -->
															<div class="form-group">
																<label>Destination</label>
																<input type="text" name="text" placeholder="Type your destination" required>
															</div>
															
															<!-- Form Group -->
															<div class="form-group">
																<label>Starts</label>
																<input type="text" name="text" placeholder="30 January, 2020" required>
															</div>
															
															<!-- Form Group -->
															<div class="form-group">
																<label>2 guests</label>
																<select class="custom-select-box">
																	<option>Guests</option>
																	<option>01 Guests</option>
																	<option>02 Guests</option>
																	<option>03 Guests</option>
																	<option>04 Guests</option>
																</select>
															</div>
															
															<!-- Form Group -->
															<div class="form-group">
																<label>Travel type</label>
																<select class="custom-select-box">
																	<option>Trakking</option>
																	<option>01 Trakking</option>
																	<option>02 Trakking</option>
																	<option>03 Trakking</option>
																	<option>04 Trakking</option>
																</select>
															</div>
															
															<!-- Form Group -->
															<div class="form-group">
																<div class="range-slider-one clearfix">
																	<label>Price Range</label>
																	<div class="area-range-slider"></div>
																	<div class="input"><input type="text" class="property-amount" name="field-name" readonly></div>
																	<div class="title clearfix">
																		Min <span>Max</span>
																	</div>
																</div>
																<div class="separet margin-top"></div>
															</div>
															
															<div class="form-group">
																<label>&nbsp;</label>
																<button type="submit" class="theme-btn btn-style-one"><i class="map flaticon-maps-and-flags"></i><span class="txt">Search Now</span></button>
															</div>
															
														</div>
													</form>
													
												</div>
											</div>
											
											<!-- Tab -->
											<div class="tab" id="prod-info">
												<div class="content">
													
													<!-- Default Form -->
													<div class="default-form">
														<form method="post" action="contact.html">
															
															<!-- Form Group -->
															<div class="form-group">
																<label>Destination</label>
																<input type="text" name="text" placeholder="Type your destination" required>
															</div>
															
															<!-- Form Group -->
															<div class="form-group">
																<label>Starts</label>
																<input type="text" name="text" placeholder="30 January, 2020" required>
															</div>
															
															<!-- Form Group -->
															<div class="form-group">
																<label>2 guests</label>
																<select class="custom-select-box">
																	<option>Guests</option>
																	<option>01 Guests</option>
																	<option>02 Guests</option>
																	<option>03 Guests</option>
																	<option>04 Guests</option>
																</select>
															</div>
															
															<!-- Form Group -->
															<div class="form-group">
																<label>Travel type</label>
																<select class="custom-select-box">
																	<option>Trakking</option>
																	<option>01 Trakking</option>
																	<option>02 Trakking</option>
																	<option>03 Trakking</option>
																	<option>04 Trakking</option>
																</select>
															</div>
															
															<!-- Form Group -->
															<div class="form-group">
																<div class="range-slider-one clearfix">
																	<label>Price Range</label>
																	<div class="area-range-slider"></div>
																	<div class="input"><input type="text" class="property-amount" name="field-name" readonly></div>
																	<div class="title clearfix">
																		Min <span>Max</span>
																	</div>
																</div>
																<div class="separet margin-top"></div>
															</div>
															
															<div class="form-group">
																<label>&nbsp;</label>
																<button type="submit" class="theme-btn btn-style-one"><i class="map flaticon-maps-and-flags"></i><span class="txt">Search Now</span></button>
															</div>
															
														</div>
													</form>
													
												</div>
											</div>
											
										</div>
									
									</div>
								</div>			
			
							</div>
						</div>
						
						<!-- Sidebar Widget -->
						<div class="sidebar-widget search-tour-widget">
							<div class="widget-content">
								
								<!-- Tour Search Tabs-->
								<div class="tour-search-tabs">
									<!-- Tours Tabs -->
									<div class="tour-tabs tabs-box">
									
										<!--Tab Btns-->
										<ul class="tab-btns tab-buttons clearfix">
											<li data-tab="#prod-filter" class="tab-btn active-btn">Search Tours</li>
											<li data-tab="#prod-card" class="tab-btn">Hotel Card available</li>
										</ul>
										
										<!--Tabs Container-->
										<div class="tabs-content">
											
											<!--Tab / Active Tab-->
											<div class="tab active-tab" id="prod-filter">
												<div class="content">
													
													<!-- Tours Selection Form -->
													<div class="tours-selection-form">
														<form method="post" action="index.html">
															<h5>Categories </h5>
															
															<div class="form-group">
																<div class="check-box">
																	<input type="checkbox" name="shipping-option" id="service-1"> 
																	<label for="service-1">Adventure</label>
																</div>
															</div>
															
															<div class="form-group">
																<div class="check-box">
																	<input type="checkbox" name="shipping-option" id="service-2"> 
																	<label for="service-2">Traking</label>
																</div>
															</div>
															
															<div class="form-group">
																<div class="check-box">
																	<input type="checkbox" name="shipping-option" id="service-3"> 
																	<label for="service-3">Historical</label>
																</div>
															</div>
															
															<div class="form-group">
																<div class="check-box">
																	<input type="checkbox" name="shipping-option" id="service-4"> 
																	<label for="service-4">Japan</label>
																</div>
															</div>
															
															<div class="form-group">
																<div class="check-box">
																	<input type="checkbox" name="shipping-option" id="service-5"> 
																	<label for="service-5">Indonesia</label>
																</div>
															</div>
															
															<div class="form-group">
																<div class="check-box">
																	<input type="checkbox" name="shipping-option" id="service-6"> 
																	<label for="service-6">Bangladesh</label>
																</div>
															</div>
															
															<div class="form-group">
																<div class="check-box">
																	<input type="checkbox" name="shipping-option" id="service-7"> 
																	<label for="service-7">Thailand</label>
																</div>
															</div>
															
															<h5>Duration</h5>
															
															<div class="form-group">
																<div class="check-box">
																	<input type="checkbox" name="shipping-option" id="service-8"> 
																	<label for="service-8">1 days</label>
																</div>
															</div>
															
															<div class="form-group">
																<div class="check-box">
																	<input type="checkbox" name="shipping-option" id="service-9"> 
																	<label for="service-9">1-3 days</label>
																</div>
															</div>
															
															<div class="form-group">
																<div class="check-box">
																	<input type="checkbox" name="shipping-option" id="service-10"> 
																	<label for="service-10">5 days</label>
																</div>
															</div>
															
															<div class="form-group">
																<div class="check-box">
																	<input type="checkbox" name="shipping-option" id="service-11"> 
																	<label for="service-11">7+ Days Tour</label>
																</div>
															</div>
															
															<h5>Places</h5>
															
															<div class="form-group">
																<div class="check-box">
																	<input type="checkbox" name="shipping-option" id="service-12"> 
																	<label for="service-12">Avsallar</label>
																</div>
															</div>
															
															<div class="form-group">
																<div class="check-box">
																	<input type="checkbox" name="shipping-option" id="service-13"> 
																	<label for="service-13">India</label>
																</div>
															</div>
															
															<div class="form-group">
																<div class="check-box">
																	<input type="checkbox" name="shipping-option" id="service-14"> 
																	<label for="service-14">Nepal</label>
																</div>
															</div>
															
															<div class="form-group">
																<div class="check-box">
																	<input type="checkbox" name="shipping-option" id="service-14"> 
																	<label for="service-14">Bangladesh</label>
																</div>
															</div>
															
														</form>
													</div>
													
												</div>
											</div>
											
											<!-- Tab -->
											<div class="tab" id="prod-card">
												<div class="content">
													
													<!-- Tours Selection Form -->
													<div class="tours-selection-form">
														<form method="post" action="index.html">
															<h5>Categories </h5>
															
															<div class="form-group">
																<div class="check-box">
																	<input type="checkbox" name="shipping-option" id="service-15"> 
																	<label for="service-15">Adventure</label>
																</div>
															</div>
															
															<div class="form-group">
																<div class="check-box">
																	<input type="checkbox" name="shipping-option" id="service-16"> 
																	<label for="service-16">Traking</label>
																</div>
															</div>
															
															<div class="form-group">
																<div class="check-box">
																	<input type="checkbox" name="shipping-option" id="service-17"> 
																	<label for="service-17">Historical</label>
																</div>
															</div>
															
														</form>
													</div>														
													
												</div>
											</div>
											
										</div>
									</div>
								</div>
							</div>
						</div>
						
					</aside>
				</div>
				
				<!--Content Side-->
                <div class="content-side col-lg-8 col-md-12 col-sm-12">
					<div class="our-tours">
						
						<!--Sort By-->
						<div class="items-sorting">
							<div class="row clearfix">
								<div class="results-column col-lg-5 col-md-12 col-sm-12">
									<h6>15 tours found</h6>
								</div>
								<div class="select-column pull-right col-lg-7 col-md-12 col-sm-12">
									<div class="sort">Short by</div>
									<div class="form-group">
										<select name="sort-by">
											<option>Most relevant</option>
											<option>By Order</option>
											<option>By Price</option>
										</select>
									</div>
									<ul class="page-view-list">
										<li><a href="tour-list.html#"><span class="icon flaticon-list"></span></a></li>
										<li class="active"><a href="tour-list.html#"><span class="icon flaticon-menu-4"></span></a></li>
									</ul>
								</div>
							</div>
						</div>
						
						<!-- Tour Block Three -->
						<div class="tour-block-three">
							<div class="inner-box clearfix">
								<div class="image">
									<a href="tour-detail.html"><img src="images/resource/tour-11.jpg" alt="" /></a>
									<div class="price">$150 <br> Night</div>
								</div>
								<div class="content-column">
									<div class="rating">
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star-o"></span>
										15+ Review
									</div>
									<h4><a href="tour-detail.html">Regent Prohibits Travelers Who Have Been to China Boarding</a></h4>
									<div class="location">Bali, Indonesia</div>
									<div class="hotel-info">5 Days / 6 Nights <span>Minimum 6 people</span></div>
									<ul class="food-list">
										<li><span class="icon flaticon-plane-1"></span>Airpot</li>
										<li><span class="icon flaticon-food"></span>Foods</li>
										<li><span class="icon flaticon-air-conditioner"></span>Ac</li>
									</ul>
									<a href="tour-detail.html" class="theme-btn btn-style-one"><span class="txt">Book Now</span></a>
								</div>
							</div>
						</div>
						
						<!-- Tour Block Three -->
						<div class="tour-block-three">
							<div class="inner-box clearfix">
								<div class="image">
									<a href="tour-detail.html"><img src="images/resource/tour-12.jpg" alt="" /></a>
									<div class="price">$150 <br> Night</div>
								</div>
								<div class="content-column">
									<div class="rating">
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star-o"></span>
										15+ Review
									</div>
									<h4><a href="tour-detail.html">Regent Prohibits Travelers Who Have Been to China Boarding</a></h4>
									<div class="location">Bali, Indonesia</div>
									<div class="hotel-info">5 Days / 6 Nights <span>Minimum 6 people</span></div>
									<ul class="food-list">
										<li><span class="icon flaticon-plane-1"></span>Airpot</li>
										<li><span class="icon flaticon-food"></span>Foods</li>
										<li><span class="icon flaticon-air-conditioner"></span>Ac</li>
									</ul>
									<a href="tour-detail.html" class="theme-btn btn-style-one"><span class="txt">Book Now</span></a>
								</div>
							</div>
						</div>
						
						<!-- Tour Block Three -->
						<div class="tour-block-three">
							<div class="inner-box clearfix">
								<div class="image">
									<a href="tour-detail.html"><img src="images/resource/tour-13.jpg" alt="" /></a>
									<div class="price">$150 <br> Night</div>
								</div>
								<div class="content-column">
									<div class="rating">
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star-o"></span>
										15+ Review
									</div>
									<h4><a href="tour-detail.html">Regent Prohibits Travelers Who Have Been to China Boarding</a></h4>
									<div class="location">Bali, Indonesia</div>
									<div class="hotel-info">5 Days / 6 Nights <span>Minimum 6 people</span></div>
									<ul class="food-list">
										<li><span class="icon flaticon-plane-1"></span>Airpot</li>
										<li><span class="icon flaticon-food"></span>Foods</li>
										<li><span class="icon flaticon-air-conditioner"></span>Ac</li>
									</ul>
									<a href="tour-detail.html" class="theme-btn btn-style-one"><span class="txt">Book Now</span></a>
								</div>
							</div>
						</div>
						
						<!-- Tour Block Three -->
						<div class="tour-block-three">
							<div class="inner-box clearfix">
								<div class="image">
									<a href="tour-detail.html"><img src="images/resource/tour-14.jpg" alt="" /></a>
									<div class="price">$150 <br> Night</div>
								</div>
								<div class="content-column">
									<div class="rating">
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star-o"></span>
										15+ Review
									</div>
									<h4><a href="tour-detail.html">Regent Prohibits Travelers Who Have Been to China Boarding</a></h4>
									<div class="location">Bali, Indonesia</div>
									<div class="hotel-info">5 Days / 6 Nights <span>Minimum 6 people</span></div>
									<ul class="food-list">
										<li><span class="icon flaticon-plane-1"></span>Airpot</li>
										<li><span class="icon flaticon-food"></span>Foods</li>
										<li><span class="icon flaticon-air-conditioner"></span>Ac</li>
									</ul>
									<a href="tour-detail.html" class="theme-btn btn-style-one"><span class="txt">Book Now</span></a>
								</div>
							</div>
						</div>
						
						<!-- Tour Block Three -->
						<div class="tour-block-three">
							<div class="inner-box clearfix">
								<div class="image">
									<a href="tour-detail.html"><img src="images/resource/tour-15.jpg" alt="" /></a>
									<div class="price">$150 <br> Night</div>
								</div>
								<div class="content-column">
									<div class="rating">
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star-o"></span>
										15+ Review
									</div>
									<h4><a href="tour-detail.html">Regent Prohibits Travelers Who Have Been to China Boarding</a></h4>
									<div class="location">Bali, Indonesia</div>
									<div class="hotel-info">5 Days / 6 Nights <span>Minimum 6 people</span></div>
									<ul class="food-list">
										<li><span class="icon flaticon-plane-1"></span>Airpot</li>
										<li><span class="icon flaticon-food"></span>Foods</li>
										<li><span class="icon flaticon-air-conditioner"></span>Ac</li>
									</ul>
									<a href="tour-detail.html" class="theme-btn btn-style-one"><span class="txt">Book Now</span></a>
								</div>
							</div>
						</div>
						
						<!-- Tour Block Three -->
						<div class="tour-block-three">
							<div class="inner-box clearfix">
								<div class="image">
									<a href="tour-detail.html"><img src="images/resource/tour-16.jpg" alt="" /></a>
									<div class="price">$150 <br> Night</div>
								</div>
								<div class="content-column">
									<div class="rating">
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star-o"></span>
										15+ Review
									</div>
									<h4><a href="tour-detail.html">Regent Prohibits Travelers Who Have Been to China Boarding</a></h4>
									<div class="location">Bali, Indonesia</div>
									<div class="hotel-info">5 Days / 6 Nights <span>Minimum 6 people</span></div>
									<ul class="food-list">
										<li><span class="icon flaticon-plane-1"></span>Airpot</li>
										<li><span class="icon flaticon-food"></span>Foods</li>
										<li><span class="icon flaticon-air-conditioner"></span>Ac</li>
									</ul>
									<a href="tour-detail.html" class="theme-btn btn-style-one"><span class="txt">Book Now</span></a>
								</div>
							</div>
						</div>
						
						<!--Pagination-->
						<div class="pagination-outer">
							<!--Styled Pagination-->
							<ul class="styled-pagination">
								<li><a href="tour-list.html#">1</a></li>
								<li><a href="tour-list.html#" class="active">2</a></li>
								<li><a href="tour-list.html#">3</a></li>
								<li><a href="tour-list.html#">4</a></li>
								<li><a href="tour-list.html#">5</a></li>
								<li><a href="tour-list.html#">6</a></li>
								<li><a href="tour-list.html#">>></a></li>
							</ul>
							<!--End Styled Pagination-->
						</div>
						
					</div>
				</div>
				
			</div>
		</div>
	</div>
	
	<!-- Call To Action Section -->
	<section class="call-to-action-section" style="background-image:url(images/background/4.jpg)">
		<div class="auto-container">
			<h2>Upscale Downtown Suites</h2>
			<div class="street">700 MAIN STREET</div>
			<a href="tour-list.html#" class="theme-btn btn-style-one"><span class="txt">Trending Tour</span></a>
		</div>
	</section>
	<!-- End Call To Action Section -->
	
	<!-- Main Footer -->
    <footer class="main-footer style-two" style="background-image:url(images/background/5.jpg)">
		<div class="auto-container">
		
        	<!-- Widgets Section -->
            <div class="widgets-section">
				
            	<div class="row clearfix">
				
					<!-- Big Column -->
                    <div class="big-column col-lg-6 col-md-12 col-sm-12">
                        <div class="row clearfix">
							
							<!-- Footer Column -->
                            <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                                <div class="footer-widget logo-widget">
									<div class="logo">
                                    	<a href="index.html"><img src="images/logo.png" alt="" /></a>
                                    </div>
									<div class="text">We aim to ensure that you never miss an opportunity to travel.</div>
									<!-- Social Nav -->
									<ul class="social-nav">
										<li class="follow">Follow Us</li>
										<li><a href="tour-list.html#"><span class="fa fa-facebook-f"></span></a></li>
										<li><a href="tour-list.html#"><span class="fa fa-google-plus"></span></a></li>
										<li><a href="tour-list.html#"><span class="fa fa-pinterest-p"></span></a></li>
										<li><a href="tour-list.html#"><span class="fa fa-linkedin"></span></a></li>
										<li><a href="tour-list.html#"><span class="fa fa-twitter"></span></a></li>
									</ul>
									<div class="newsletter-box">
										<div class="newsletter-text">Subscribe to Our Newsletter</div>
										<!-- Newsletter Form -->
										<div class="newsletter-form">
											<form method="post" action="contact.html">
												<div class="form-group clearfix">
													<input type="email" name="email" value="" placeholder="Enter Your Email Address" required>
													<button type="submit" class="theme-btn join-btn"><span class="txt">Join</span></button>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
							
							<!-- Footer Column -->
                            <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                                <div class="footer-widget links-widget">
									<h5>solutions</h5>
									<ul class="footer-list">
										<li><a href="tour-list.html#">Activities</a></li>
										<li><a href="tour-list.html#">Attractions</a></li>
										<li><a href="tour-list.html#">Entertainment</a></li>
										<li><a href="tour-list.html#">Events & Festivals</a></li>
										<li><a href="tour-list.html#">Food & Restaurants</a></li>
										<li><a href="tour-list.html#">Outdoors</a></li>
									</ul>
								</div>
							</div>
						
						</div>
					</div>
					
					<!-- Big Column -->
                    <div class="big-column col-lg-6 col-md-12 col-sm-12">
                        <div class="row clearfix">
							
							<!--Footer Column-->
                            <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                                <div class="footer-widget links-widget">
									<h5>explore</h5>
									<ul class="footer-list">
										<li><a href="tour-list.html#">Hotels Sitemap</a></li>
										<li><a href="tour-list.html#">Flights Sitemap</a></li>
										<li><a href="tour-list.html#">Vacations Sitemap</a></li>
										<li><a href="tour-list.html#">Rental Cars</a></li>
										<li><a href="tour-list.html#">Sitemap</a></li>
										<li><a href="tour-list.html#">Cruises Sitemap</a></li>
										<li><a href="tour-list.html#">Submit an Event</a></li>
									</ul>
								</div>
							</div>
							
							<!--Footer Column-->
                            <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                                <div class="footer-widget news-widget">
									<h5>Update News</h5>
									<div class="widget-content">
										<div class="news-box">
											<h5><a href="https://gico.io/ghurbo/demos/ghurbo/blog-single.html">Bucket list how-to: Glamping and trekking in Patagonia</a></h5>
										</div>
										<div class="news-box">
											<h5><a href="https://gico.io/ghurbo/demos/ghurbo/blog-single.html">10 things you probably don’t know about Wales</a></h5>
										</div>
										<div class="news-box">
											<h5><a href="https://gico.io/ghurbo/demos/ghurbo/blog-single.html">10 things you probably don’t know about Wales</a></h5>
										</div>
										<div class="news-box">
											<h5><a href="https://gico.io/ghurbo/demos/ghurbo/blog-single.html">Do you really need an International Driver’s Permit?</a></h5>
										</div>
									</div>
								</div>
							</div>
							
						</div>
					</div>
					
				</div>
				
			</div>
		
			<!-- Footer Bottom -->
			<div class="footer-bottom">
				<div class="copyright">&copy; 2020 All Rights Reserved Terms of Use </div>
			</div>
		
		</div>
		
	</footer>
	
</div>
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-arrow-circle-up"></span></div>

<!-- Search Popup -->
<div id="search-popup" class="search-popup">
	<div class="close-search theme-btn"><span class="flaticon-multiply"></span></div>
	<div class="popup-inner">
		<div class="overlay-layer"></div>
    	<div class="search-form">
        	<form method="post" action="index.html">
            	<div class="form-group">
                	<fieldset>
                        <input type="search" class="form-control" name="search-input" value="" placeholder="Search Here" required >
                        <input type="submit" value="Search Now!" class="theme-btn">
                    </fieldset>
                </div>
            </form>
            
            <br>
            <h3>Recent Search Keywords</h3>
            <ul class="recent-searches">
                <li><a href="tour-list.html#">Travel</a></li>
                <li><a href="tour-list.html#">Beauty</a></li>
                <li><a href="tour-list.html#">Design</a></li>
                <li><a href="tour-list.html#">Food</a></li>
                <li><a href="tour-list.html#">LifeStyle</a></li>
            </ul>
        
        </div>
        
    </div>
</div>

<script src="js/jquery.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="js/jquery.fancybox.js"></script>
<script src="js/appear.js"></script>
<script src="js/owl.js"></script>
<script src="js/wow.js"></script>
<script src="js/parallax.min.js"></script>
<script src="js/jquery-ui.js"></script>
<script src="js/script.js"></script>

</body>
</html>